* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper .side-bar .navigasi:hover:not(:last-child) {
    background-color: #D81B24;
}

.wrapper main .card>*:not(:last-child) {
    margin-right: 10px;
}

/* Event Detail Page style */
#event .detail .left {
    flex: 1;
}

#event .detail .right {
    flex: 2;
    width: 700px;
}

